@font-face {
  font-family: gatwick;
  src: url(../assets/Gatwick/Gatwick-Bold.otf); }

.card {
  margin: 15px;
  border-radius: 5%;
  border: 2px solid #fad7da; }
  .card img {
    height: 40vh;
    object-fit: cover;
    border-radius: 100%;
    border: 1px solid #fad7da; }
  .card .card-title {
    border-bottom: 1px solid grey; }

.postulate {
  margin: 20px 20% 20px 20%;
  border: 2px solid #fad7da;
  border-radius: 2%;
  padding: 10px; }
  .postulate .btn {
    background-color: #d3a7ab; }

.pedidos {
  height: 100%;
  border: 1px solid #d3a7ab; }
  .pedidos .row {
    border: 1px solid #d3a7ab; }
  .pedidos .alt {
    height: 50px; }

.padd {
  padding: 20px; }

.nosotros .nosotros--texto {
  font-size: 1rem; }

.nosotros img {
  padding: 30px;
  height: 500px;
  width: 500px;
  border-radius: 100%;
  border-color: 1px solid #fad7da;
  margin: 30px; }

@media (max-width: 600px) {
  .nosotros img {
    height: 250px;
    width: 250px; } }

* {
  margin: 0;
  padding: 0; }
  * header .navbar-brand img {
    height: 12vh;
    width: 30vw;
    object-fit: contain; }
  * header .nav-item {
    padding-right: 20px;
    font-family: gatwick; }
    * header .nav-item .nav-link {
      border-bottom: 1px solid grey; }
  * main {
    background-color: #fceff5; }
    * main .separador h3 {
      text-align: center;
      padding: 15px;
      border: 1px solid darkgrey;
      background-color: #fceff5; }
    * main .carousel-item {
      height: 84vh; }
      * main .carousel-item img {
        height: 84vh;
        object-fit: cover;
        object-position: center; }
    * main .contactos {
      border-top: 1px solid #fad7da; }
      * main .contactos img {
        padding: 20px;
        height: 125px;
        height: 125px; }
      * main .contactos iframe {
        padding: 20px; }
      * main .contactos .redes {
        border-right: 1px solid #fad7da; }
    * main .principal img {
      width: 250px;
      height: 250px;
      border-radius: 100%; }
  * footer {
    background-color: #fad7da; }
